<!-- Generated template for the PeriodStartComponent component -->
<div class="period-start-content">

  <ion-list >
    <ion-item class="first-item">
       <ion-input type="text" placeholder="First Name"  (change)="onChange()"></ion-input>
    </ion-item>

    <ion-item>
       <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="last-item">
    </ion-item>
  </ion-list>

  <label>When did you last period start?</label>
  
   <button (click)="selectDate()">click</button>
</div>
