page-terms-and-condition {

    .agree-div{
        background:  rgba(128, 128, 128, 0.2);
        padding: 13px 31px;
    }
    .agree-btn{
        border-radius: 7px !important;
        height: 40px;
        background: gray;
    }
    div{
        font-size: 14px !important;
    }

}
