page-terms-and-condition {
    div{
        font-size: 14px !important;
    }
.toolbar-background{
    background: color($colors,primary);//linear-gradient(#FFA199,#FD979B);
    color: white;
}
.toolbar-title{
    color: white;
}
ion-footer {
    max-height: 56px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px !important; 
    background: white !important;
    button{
        display: block  !important;
        max-height: 46px !important;
        max-width: 350px !important;
        margin: auto  !important;
        background: color($colors,primary);
    }
}


}
