page-home {
    ion-grid{
        div{
            text-align: center;
            color: black;
            font-weight: 900;
            margin: 10px;
            font-size:15px;
        }
        .week-label{
            color: #676767;
            font-size: 10px;
            text-align: center;
        }
        ion-row{
            .bold{
                color: black;
            }
            .fade{
                color: #cdcdcd;
            }
            ion-col{
                text-align: center;
            }
        }
    } 

}
