page-welcome {
    .slide{
        overflow: scroll!important;; 
    }
    img{
        max-width: 250px !important;
        max-height: 250px !important;
    }
    .swiper-pagination-bullet-active {
        background: white;
        opacity: 1;
    }

ion-content {
   background: linear-gradient(#FD979B,#E947AC);
}
p,h1{
    color: white;
}

ion-footer {
    max-height: 56px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px !important; 
    background: transparent !important;
    
    button{
        display: block  !important;
        max-height: 46px !important;
        max-width: 350px !important;
        margin: auto  !important;
        background: white !important;
         color: #E947AC !important;
    }


}

 img {
    max-width: 50% !important;
}
}
